.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/build/

# private stuff
secrets.env

app/app-release.apk
app/proguard/*.txt
app/manifest-merger-release-report.txt
