# Add the libraries, but ignore warnings about them
-libraryjars libs
-dontwarn com.dropbox.client2.DropboxAPI
-dontwarn com.dropbox.client2.DropboxAPI$Entry
-dontwarn com.dropbox.client2.RESTUtility
-dontwarn com.android.common.OperationScheduler
-dontwarn com.google.android.googlelogindist.**
-dontwarn com.google.android.gsf.UseLocationForServices

# Keep stack traces useful
-renamesourcefileattribute MT
-keepattributes SourceFile,LineNumberTable

-dump class_files.txt 
-printseeds seeds.txt 
-printusage unused.txt 
-printmapping mapping.txt 

# keep this class so that logging will show 'ACRA' and not a obfuscated name like 'a'.
# Note: if you are removing log messages elsewhere in this file then this isn't necessary
-keep class org.acra.ACRA {
	*;
}

# keep this around for some enums that ACRA needs
-keep class org.acra.ReportingInteractionMode {
	*;
}

# keep this otherwise it is removed by ProGuard
-keep public class org.acra.ErrorReporter {
	public void addCustomData(java.lang.String,java.lang.String);
}

# keep this otherwise it is removed by ProGuard
-keep public class org.acra.ErrorReporter {
	public org.acra.ErrorReporter$ReportsSenderWorker handleSilentException(java.lang.Throwable);
}

-keep public class com.google.ads.GoogleAdView

-keep class com.miadzin.shelves.view.*
{ 
}

-keep class com.miadzin.shelves.drawable.*
{
}

-keep class com.miadzin.shelves.util.loan.ContactAccessorSdk3_4 extends com.miadzin.shelves.util.loan.ContactAccessor {

}

-keep class com.miadzin.shelves.util.loan.ContactAccessorSdk5 extends com.miadzin.shelves.util.loan.ContactAccessor {

}

-keep class com.google.android.apps.mytracks.io.** 